.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* // 350px +
@media screen and (min-width: 350px) {
    .container {
            width: 350px;
        }
} */
// 768px +
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

// 1680px +
@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
    }
}